<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RxApp" version="0.0.1-pre3" targetFramework="MonoAndroid50" />
  <package id="Rx-Core" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Main" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Splat" version="1.6.1" targetFramework="MonoAndroid50" />
  <package id="System.Collections.Immutable" version="1.1.34-rc" targetFramework="MonoAndroid50" />
</packages>