<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="3.1.2.1" targetFramework="MonoAndroid44" />
  <package id="FunctionalHttp" version="0.0.1-pre1" targetFramework="MonoAndroid50" />
  <package id="modernhttpclient" version="2.2.0" targetFramework="MonoAndroid50" />
  <package id="Rx-Core" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Main" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Sparse" version="0.0.3" targetFramework="MonoAndroid50" />
  <package id="Splat" version="1.6.1" targetFramework="MonoAndroid50" />
  <package id="SQLitePCL.pretty" version="0.0.12-pre2" targetFramework="MonoAndroid50" />
  <package id="SQLitePCL.pretty.Async" version="0.0.12-pre2" targetFramework="MonoAndroid50" />
  <package id="SQLitePCL.raw" version="0.7.2-pre1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="21.0.3.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Facebook" version="3.22.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Insights" version="1.9.0.106" targetFramework="MonoAndroid50" />
</packages>